:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .container {
        width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        width: 1536px;
    }
}

